.vs/
REBUSS.PromptManager.UnitTests/obj/
REBUSS.PromptManager/bin/
REBUSS.PromptManager/obj/
*.user
REBUSS.PromptManager/.vsextension/
REBUSS.PromptManager.UnitTests/bin/
REBUSS.PromptManager.Core/bin/
REBUSS.PromptManager.Core/obj/project.assets.json
REBUSS.PromptManager.Core/obj/
